{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
  <div class="col-12 col-xxl-6 offset-xxl-4 pt-4 px-0 px-sm-4">
    <div class="container-fluid mt-5 general-container">
      <div class="row">
        <div class="col-12 mt-3 mb-3 general-block menu-scroll">
          <h2 class="mx-auto mt-2">Register</h2>
          <div class="mt-5 text-center">
            <h1>{% trans "Sign Up" %}</h1>
            <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans%}</p>
            <div class="row text-center justify-content-evenly">
              <div class="col-12 px-0 col-sm-11 px-sm-5 col-md-8 col-lg-6 col-xl-5 col-xxl-6">
                <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                  {% csrf_token %}
                  {{ form.as_p }}
                  {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                  {% endif %}
              </div>
              <div class="text-center mt-3">
                  <button class="btn-success btn-lg" type="submit">{% trans "Sign Up" %} &raquo;</button>
              </div>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
