{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}Success{% endblock %}

  {% block content %}
  <div class="col-12 col-xxl-6 offset-xxl-4 pt-4">
    <div class="container mt-5 general-container">
      <div class="row">
        <div class="col-12 mt-3 mb-3 general-block">
          <h2 class="mx-auto mt-2">Success</h2>
          <div class="mt-5 text-center">
            <h1>
                <i class="fa-solid fa-circle-check"></i>
                Booking Successful
            </h1>
            <h3>Thank you for making your booking</h3>
            <p>We look forward to seeing you at The Amber Tree</p>
            <p>To check your booking or cancel please head over to
              <a href="">My Bookings</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


