input[type="radio"]{
    position: absolute;
    z-index: -99;
}

input[type="radio"] + label{
    position: relative;
}

input[type="radio"]:checked + label{
    color: rgb(255, 0, 0);
}

.booking-slot {
    min-width: 19%;
}

.time-slot {
    min-width: 10%;
    border-radius: 50px;
}