{% load static %}

<style>
#home {
    background: url("{% static 'images/site_images/home_bg_1.png' %}") no-repeat center center fixed;
  }

#menu {
    background: url("{% static 'images/site_images/home_bg_2.png' %}") no-repeat center center fixed;
}

#drinks {
    background: url("{% static 'images/site_images/home_bg_3.png' %}") no-repeat center center fixed;
}

#contact {
    background: url("{% static 'images/site_images/home_bg_4.png' %}") no-repeat center center fixed;
}

#bookingform {
    background: url("{% static 'images/site_images/booking_bg.png' %}") no-repeat center center fixed;
}

#home, #menu, #drinks, #contact, #bookingform {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-color: var(--color4);
}
</style>