<h2 class="mx-auto mt-2">Contact us</h2>

<div class="row justify-content-evenly mt-4">
    <div class="col-12">
        <h5 class="text-center">Finds us</h5>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="row flex-nowrap">
                <div class="col-1 offset-1">
                    <p>
                        <i class="fa-regular fa-address-card"></i>
                    </p>
                </div>
                <div class="col-10">
                    <p>The Amber Tree Bar & Restaurant</p>
                    <p>137 Woodland Way</p>
                    <p>Tarpoley</p>
                    <p>Cheshire</p>
                    <p>CH23 5SD</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 d-flex justify-content-around text-center flex-column border-1">
            <span>{Map Placeholder}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <h5 class="text-center">Contact us</h5>
                <div class="row flex-nowrap">
                    <div class="col-1 offset-1">
                        <p>
                            <i class="fa-solid fa-phone"></i>
                        </p>
                        <p>
                            <i class="fa-regular fa-envelope"></i>
                        </p>
                        <p>
                            <i class="fa-brands fa-facebook-square"></i>
                        </p>
                        <p>
                            <i class="fa-brands fa-instagram"></i>
                        </p>
                        <p>
                            <i class="fa-brands fa-twitter"></i>
                        </p>
                    </div>
                    <div class="col-10">
                        <p>0151 255 2184</p>
                        <p>info@theambertree.com</p>
                        <p>TheAmberTree</p>
                        <p>#TheAmberTree</p>
                        <p>@TheAmberTree</p>
                    </div>
                </div>           
        </div>
        <div class="col-12 col-md-6">
            <h5 class="text-center">Leave a message</h5>
                <div class="row flex-nowrap">
                    <div class="col-12">
                        <form action="POST">
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Name:</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="name" required>
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Email address:</label>
                                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" required>
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlTextarea1" class="form-label">Message:</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" required></textarea>
                            </div>
                            <div class="mb-3 text-center">
                                <button type="submit" class="btn btn-submit" id="book-btn" value="Book Now" disabled>
                                    <i class="fa-solid fa-envelope-open-text ms-1"></i>
                                    Submit
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
        </div>
    </div>
</div>
