{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark fixed-top d-xxl-none mobilenav">
    <div class="container-fluid ps-0">
        <a class="navbar-brand py-0" href="{% url 'index' %}">
            <img src="{% static 'images/site_images/tree.svg' %}" alt="" width="60" height="60" class="ambertree-mob d-inline-block align-text-center">
            <span class="d-inline-block ps-0" id="tagline-mob">The Amber Tree</span>
          </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link about-link" href="{% url 'index' %}#home">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link menu-link" href="{% url 'index' %}#menu">Menu</a>
              </li>
              <li class="nav-item">
                <a class="nav-link drinks-link" href="{% url 'index' %}#drinks">Drinks</a>
              </li>
              <li class="nav-item">
                <a class="nav-link contact-link" href="{% url 'index' %}#contact">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link booking-link" href="{% url 'bookings_home' %}">Make a Booking</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {{ user.username }}
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="{% url 'my_bookings' %}">Bookings</a></li>
                  <li><a class="dropdown-item" href="#">Account</a></li>
                  <li><a class="dropdown-item" href="#">Login</a></li>
                  <li><a class="dropdown-item" href="#">Register</a></li>
                  <li><a class="dropdown-item" href="#">Logout</a></li>
                  <li><a class="dropdown-item" href="#">Admin</a></li>
                </ul>
              </li>
            </ul>
          </div>
    </div>
</nav>