{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{{ page_title }}</title>
</head>
<body>
    <div class="container-fluid" id="home">
        <div class="row container-border">
        {% include 'includes/navbars/mobile_nav.html' %}
            <div class="col-3 d-none d-xxl-block" id="fixed-nav">
                <div class="row justify-content-center">
                    <div class="col-10" id="side-nav">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-12">
                                    {% include 'includes/navbars/toolbar.html' %}
                                </div>
                            </div>
                            <div class="row justify-content-center pt-2">
                                <nav class="nav flex-column">
                                    <a class="navbar-brand" href="{% url 'index' %}" id="logo">
                                        <img src="{% static 'images/tree.svg' %}" alt="" class="mx-auto d-block ambertree">
                                        <p>The <span id="amber">Amber</span> Tree <br>
                                            <sup>Restaurant & Bar</sup></p>
                                    </a>
                                    <a class="nav-link" id="about-link" href="{% url 'index' %}#home">About</a>
                                    <a class="nav-link" id="menu-link" href="{% url 'index' %}#menu">Menu</a>
                                    <a class="nav-link" id="drinks-link" href="{% url 'index' %}#drinks">Drinks</a>
                                    <a class="nav-link" id="contact-link" href="{% url 'index' %}#contact">Contact</a>
                                    <a class="nav-link" id="booking-link"href="{% url 'bookings_home' %}">Make a Booking</a>
                                </nav>
                                <span class="divider"></span>
                            </div>
                            <div class="row justify-content-center mt-3 pt-3">
                                <div class="col-12  text-center" id="social">
                                <p>Find us on:</p>
                                <ul class="list-group list-group-horizontal">
                                    <li class="list-group-item" id="fb"><a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li>
                                    <li class="list-group-item" id="ig"><a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                                    <li class="list-group-item" id="tw"><a href="https://www.twitter.com" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
                                    <li class="list-group-item" id="sc"><a href="https://www.snapchat.com" target="_blank"><i class="fa-brands fa-snapchat"></i></a></li>
                                    <li class="list-group-item" id="yt"><a href="https://www.youtube.com" target="_blank"><i class="fa-brands fa-youtube"></i></a></li>
                                </ul>
                                </div>
                            </div>
                            <footer class="container" id="footer-container">
                                <div class="row justify-content-center">
                                    <div class="footer col-12 text-center">
                                    <span>The Amber Tree &#8482;</span>
                                    <div class="footer col-12 text-start mt-4">
                                    <p>Code Institute - Project 4</p>
                                    <p>Designed & Developed by: James Dybacz. &#169; Copyright 2022</p>
                                    </col-12>
                                </div>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        {% block content %}
        {% endblock %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="{% static 'js/script.js' %}"></script>

    {% block postload_js %}
    {% endblock %}
</body>
</html>