{% extends "base.html" %}

{% block content %}

<!-- {% load crispy_forms_tags %} -->
    <div class="col-6 offset-4">
        <div class="container mt-5" id="form-container">
            <div class="row">
                <div class="col-12 mt-3 mb-3" id="form-block">
                    <h2 class="mx-auto mt-2">Make a booking</h2>
                    <div class="row pt-5" id="form-row-top">
                        <div class="col-5">
                            <h3 class="mb-3 fancy-font">1. Select date
                                <i class="fa-regular fa-calendar-days ms-1"></i>
                            </h3>
                            <input type="date" class="ms-4" name="date" id="date" value="2017-06-01" min="2018-01-01" max="2018-12-31">
                        </div>
                        <div class="col-7">
                            <div class="row justify-content-md-center">
                                <h3 class="mb-2 fancy-font">2. Select start time
                                    <i class="fa-regular fa-clock ms-1"></i>
                                </h3>
                                <div class="form-check form-check-inline ms-4">
                                    {% for timeslot in timeslots %}
                                    <input type="radio" id="btn-check-{{ timeslot }}" name="timeslot" value="{{ timeslot }}"
                                        class="btn-check form-check-input" required>
                                    <label for="btn-check-{{ timeslot }}" class="btn btn-primary form-check-label time-slot"><b>
                                            {{timeslot.startTime }}</b></label>
                                    {%if forloop.counter|divisibleby:4 %}
                                </div>
                                <div class="form-check form-check-inline">
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="row mt-4">
                            <h3 class="fancy-font">3. Details
                                <i class="fa-regular fa-address-card"></i>
                            </h3>
                            <div class="col ms-4">
                                <div class="form-floating">
                                    <input class="form-control mt-3" type="text" value="{{ user.first_name }}" id="firstname" name="firstname"
                                        placeholder="First Name" aria-label="Input First Name" required>
                                    <label for="firstname">First Name</label>
                                </div>
                                <div class="form-floating">
                                    <input class="form-control mt-4" type="text" value="{{ user.last_name }}" id="lastname" name="lastname"
                                        placeholder="Last Name" aria-label=" Input Last Name" required>
                                    <label for="lasttname">Last Name</label>
                                </div>
                                <div class="form-floating">
                                    <input class="form-control mt-4" type="email" name="email" value="{{ user.email }}" id="email"
                                        aria-label="Input Email" placeholder="Email" required>
                                    <label for="email">Email</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-floating me-4">
                                    <textarea class="form-control mt-3" id="comments" name="comments" placeholder="Additional Comments"
                                        aria-label="additional comments" style="height: 222px" maxlength="200"></textarea>
                                    <label for="comments">Comments</label>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row justify-content-md-center mt-4 pb-4" id="form-row-bot">
                                <h3 class="fancy-font">4. Select table
                                    <i class="fa-solid fa-utensils ms-1"></i>
                                </h3>
                                <div class="form-check form-check-inline mt-1 mx-5">
                                    <div class="row">
                                        {% for bookingslot in bookingslots %}
                                        <div class="col-3 px-1">
                                            <input type="radio" id="btn-check-{{ bookingslot.id }}" name="bookingslot"
                                                value="{{ bookingslot.id }}" class="btn-check form-check-input" required>
                                            <label for="btn-check-{{ bookingslot.id }}"
                                                class="btn btn-booking-slot form-check-label booking-slot"><b>
                                                    {{bookingslot.table }}</b></label>
                                        </div>
                                        {%if forloop.counter|divisibleby:4 %}
                                    </div>
                                </div>
                                <div class="form-check form-check-inline mt-1 mx-5">
                                    <div class="row">
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-md-center mt-3">
                            <div class="col-auto mt-2 mb-4">
                                <button type="submit" class="btn btn-submit" value="Book Now">
                                    <i class="fa-regular fa-calendar-plus ms-1"></i>
                                    Book Now
                                </button>
                            </div>
                        </div>
                        <!-- {{ booking_form | crispy }} -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}