{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}


    {% if user.is_authenticated %}
    <div class="container">
        <div class="row">
            <h3>Make a booking:</h3>
            <h3>Choose a Date:</h3>
            <input type="date" name="date" id="date">
            <h3>Select a timeslot:</h3>
            <div>
                {% for timeslot in timeslots %}
                <input type="radio" id="{{ timeslot }}" name="timeslot" value="{{ timeslot }}">
                <label for="{{ timeslot }}" class="btn btn-primary">{{ timeslot.startTime }}</label>
                {% endfor %}
            </div>
            <form method="POST">
                {% csrf_token %}
                <label for="firstname" class="form-label">First Name:</label>
                <input class="form-control" type="text" value="{{ user.first_name }}" id="firstname"
                    name="firstname" aria-label="Input First Name">
                <label for="lasttname" class="form-label">Last Name:</label>
                <input class="form-control" type="text" value="{{ user.last_name }}" id="lastname"
                    name="lastname" aria-label="Input Last Name">
                <label for="email" class="form-label">Email:</label>
                <input class="form-control" type="email" name="email" value="{{ user.email }}" id="email" aria-label="Input Email">
                <label for="guestnumber" class="form-label">Number of Guests:</label>
                <input class="form-control" type="number" value="1" name="guestnumber" id="guestnumber" min="1" max="12"
                    aria-label="Input Number of Guests">
                <label for="comments" class="form-label">Additional Comments:</label>
                <textarea class="form-control" id="comments" name="comments" aria-label="additional comments" rows="4"
                    cols="50"></textarea>
                <h3>Select a table:</h3>
                <div>
                    {% for bookingslot in bookingslots %}
                    <input type="radio" id="{{ bookingslot.id }}" name="bookingslot" value="{{ bookingslot.id }}">
                    <label for="{{ bookingslot.id }}" class="btn btn-success">{{ bookingslot.table }}</label>
                    {% endfor %}
                </div>
                <input type="submit" class="btn btn-danger" value="Book Now">
                {{ booking_form | crispy }}
            </form>
            {% else %}
            <h3>Please Sign in or Register to make a booking</h3>
        </div>
    </div>


    {% endif %}

{% endblock %}