{% extends "base.html" %}

{% block content %}
        <div class="col-6 offset-4">
            <div class="container mt-5 general-container">
                <div class="row">
                    <div class="col-12 mt-3 mb-3 general-block">
                        {% include 'includes/welcome.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row container-border" id="menu">
        <div class="col-6 offset-4">
            <div class="container mt-5 general-container">
                <div class="row">
                    <div class="col-12 mt-3 mb-3 general-block menu-scroll px-3">
                        {% include 'includes/food_menu.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row container-border" id="drinks">
        <div class="col-6 offset-4">
            <div class="container mt-5 general-container">
                <div class="row">
                    <div class="col-12 mt-3 mb-3 general-block menu-scroll px-3">
                        {% include 'includes/drink_menu.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row container-border" id="contact">
        <div class="col-6 offset-4">
            <div class="container mt-5 general-container">
                <div class="row">
                    <div class="col-12 mt-3 mb-3 general-block">
                        {% include 'includes/contact.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
