{% extends "base.html" %}

{% block content %}
        <div class="col-6 offset-4">
            <div class="container mt-5 general-container">
                <div class="row">
                    <div class="col-12 mt-3 general-block">
                        <h2 class="mx-auto mt-2">Welcome</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row container-border" id="menu">
        <div class="col-6 offset-4">
            <div class="container mt-5 general-container">
                <div class="row">
                    <div class="col-12 mt-3 general-block">
                        <h2 class="mx-auto mt-2">Menu</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row container-border" id="drinks">
        <div class="col-6 offset-4">
            <div class="container mt-5 general-container">
                <div class="row">
                    <div class="col-12 mt-3 general-block">
                        <h2 class="mx-auto mt-2">Drinks</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row container-border" id="contact">
        <div class="col-6 offset-4">
            <div class="container mt-5 general-container">
                <div class="row">
                    <div class="col-12 mt-3 general-block">
                        <h2 class="mx-auto mt-2">Contact</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
