{% extends "base.html" %}



{% block content %}
    {% include 'includes/navbars/dashboard_nav.html' %}
    <div class="col-12 mt-5">
        <div class="container-fluid mt-3 general-container" style="min-height:90vh;">
            <div class="row">
                <div class="col-12 mb-3 mt-3 general-block" style="min-height:86vh;">
                    <h2 class="mx-auto mt-2">Dashboard</h2>
                    <nav>
                        <ul class="nav nav-tabs justify-content-start flex-nowrap x-scroll">
                            <li class="nav-item">
                                <a class="nav-link border-0 mb-1" href="{% url 'dashboard_home' %}">
                                  <h5 class="my-0">
                                    <i class="fa-solid fa-house"></i>
                                      Home
                                  </h5>
                                </a>
                              </li>
                            <li class="nav-item">
                              <a class="nav-link border-0 mb-1"href="{% url 'dashboard_tables' %}">
                                <h5 class="my-0">
                                    <i class="fa-solid fa-utensils"></i>
                                    Table
                                </h5>
                              </a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link border-0 mb-1" href="{% url 'dashboard_times' %}">
                                <h5 class="my-0">
                                    <i class="fa-regular fa-clock"></i>
                                    Times
                                </h5>
                              </a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link border-0 mb-1" href="{% url 'dashboard_schedule' %}">
                                <h5 class="my-0">
                                    <i class="fa-solid fa-table-list"></i>
                                    Schedule
                                </h5>
                              </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link border-0 mb-1" href="{% url 'dashboard_bookings' %}">
                                    <h5 class="my-0">
                                        <i class="fa-regular fa-calendar-check"></i>
                                        Bookings
                                    </h5>
                                </a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link border-0 mb-1" href="{% url 'dashboard_messages' %}">
                                    <h5 class="my-0">
                                        <i class="fa-regular fa-message"></i>
                                        Messages
                                    </h5>
                                </a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link border-0 mb-1" href="{% url 'dashboard_help' %}">
                                    <h5 class="my-0">
                                        <i class="fa-regular fa-circle-question"></i>
                                        Help
                                    </h5>
                                </a>
                              </li>
                          </ul>
                    </nav>
                    <h1></h1>
                    <p>Logged in as: <span class="fw-bold">{{ user.username }}</p>
                    <p>Date: <span class="fw-bold">{{ current_date|date:"D jS M  Y" }}</p>
                    <p>Number of bookings for today: <span class="fw-bold">{{ bookings_len }}</p>
                    <p>Number of bookings made today: <span class="fw-bold">{{ bookings_len }}</p>
                    <p>Number of bookings cancelled today: <span class="fw-bold">{{ bookings_len }}</p>
                    <p>Unread Contact Form Messages: <span class="fw-bold">{{ bookings_len }}</p>
                    <span id="log"></span>
                    <span id="log2"></span>
                    <span id="log3"></span>

                        

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postload_js %}


<script type="text/javascript" >
    window.onload = function () {
        let activeLink = document.getElementsByClassName("active")
        log3.innerHTML = (activeLink)

        let positionFromLeftOfScrollableDiv = activeLink.offsetLeft
        let log = document.getElementById("log")
        let log2 = document.getElementById("log2")
        console.log(positionFromLeftOfScrollableDiv)
        log.innerHTML = (positionFromLeftOfScrollableDiv)
        let scrollableElement = document.getElementsByClassName("x-scroll")
        log2.innerHTML = (scrollableElement)
        scrollableElement.scrollLeft = positionFromLeftOfScrollableDiv - 41
        scrollableElement.addEventListener("wheel", (evt) => {
            evt.preventDefault();
            scrollableDivElement.scrollLeft += evt.deltaY;
            
        }, {passive: false});
    }
</script>
{% endblock %}